<h1>All in Bloom Contact Us</h1>
<p>
  Dear Customer, due to the ongoing pandemic situation and frequent lockdown, we are operating with reduced support
  staff, causing bit delay in reverts. Rest be assured that our logistics team is working to get your orders delivered
  on time.</p>
<h1>Connect us at::</h1>
<p>
  Phone: +91-9650062220
</p>
<p>
  Kindly mention the concern in the subject of your email such as: “Address Change Required : Order ID xxxxxxx”
</p>
<h1>Email:</h1>
<p>Wearein@allinbloom.com</p>
