<header>
  <a class="logo">All in Bloom</a>
  <nav>
    <ul>
      <li><a href="#" routerLink="/">HOME</a> </li>
      <!-- <a [routerLink]="['/firstpage']">HOME</a> -->
      <li><a href="#" routerLink="/contactus">CONTACT US</a></li>
      <li><a href="#" routerLink="/aboutus">ABOUT US</a></li>
      <!-- <a [routerLink]="['/aboutus']">ABOUT US</a> -->

    </ul>
  </nav>
</header>

<div>
  <img src="../../assets/frontcover.png" alt="coverpicture" id="coverpic" />
</div>

<div>
  <a href="#" routerLink="/secondpage">
    <!-- <button id="front_btn">Let's shop</button> -->
    <button mat-raised-button id="front_btn">Let's shop</button>
  </a>
</div>
