<p class="title">All in Bloom: </p>
<p>Send Flowers and Gifts to Chennai, Sending fresh flowers
  and gifts is the dream of every individual on their loved ones important days
  of life.<span class="name">All in Bloom</span> make this dream of yours come to reality through our
  online gift delivery service in chennai and across India.
</p>
<p>So many relations, so many reasons to love and celebrate.
  Surprise them, gift them and celebrate the uniqueness of very relation with All in Bloom. So, go ahead and shop with
  us.</p>

<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Choose a role...</mat-label>
          <mat-select>
            <mat-option [value]="roles" *ngFor="let roles of Roles">
              {{ roles }} </mat-option>mat select selected
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">
        Register
      </button>
    </form>
  </mat-card>
</div> -->
